<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users.mapper.UsersMapper">

    <select id="queryUserList" resultType="users.pojo.vo.UserListVo" parameterType="users.pojo.dto.QueryUserListDTO">
        select u.u_uid,
               u.user_name,
               u.email,
               u.role,
               u.status,
               up.nick_name,
               up.avatar,
               u.created_at,
               u.updated_at
        from users u
        join user_profile up on u.u_uid = up.u_uid
        where 1 = 1
        <if test="name != null || name != ''">
            and u.user_name like concat('%', #{name}, '%')
        </if>
        <if test="name != null || name != ''">
            and up.nick_name like concat('%', #{name}, '%')
        </if>
        <if test="email != null || email != ''">
            and u.email like concat('%', #{email}, '%')
        </if>
        <if test="role != null || role != ''">
            and u.role like concat('%', #{role}, '%')
        </if>
    </select>

    <select id="getUserInfo" resultType="users.pojo.vo.UserInfoVo" parameterType="java.lang.String">
        select u.u_uid,
        u.user_name,
        u.email,
        u.role,
        u.status,
        up.bio,
        up.nick_name,
        up.avatar,
        u.created_at,
        u.updated_at
        from users u
        left join user_profile up on u.u_uid = up.u_uid
        where u.user_name = #{userName}
    </select>

    <select id="getUserInfoByUserName" resultType="users.pojo.vo.UserInfoVo" parameterType="java.lang.String">
        select u.u_uid as uUid,
               u.user_name as userName,
               u.email,
               u.role,
               u.status,
               up.bio,
               up.nick_name as nickName,
               up.avatar,
               up.phone,
               up.birthday,
               u.created_at as createdAt,
               u.updated_at as updatedAt
        from users u
                 left join user_profile up on u.u_uid = up.u_uid
        where u.user_name = #{userName}
    </select>

    <select id="getUserInfoByUUid" resultType="users.pojo.vo.UserInfoVo" parameterType="java.lang.String">
        select u.u_uid,
               u.user_name,
               u.email,
               u.role,
               u.status,
               up.bio,
               up.nick_name,
               up.avatar,
               up.phone,
               up.birthday,
               u.created_at,
               u.updated_at
        from users u
                 left join user_profile up on u.u_uid = up.u_uid
        where u.u_uid = #{uUid}
    </select>

    <select id="getBatchUserInfo" resultType="users.pojo.vo.UserInfoVo" parameterType="java.util.List">
        select u.u_uid as uUid,
        u.user_name as userName,
        u.email,
        u.role,
        u.status,
        up.bio,
        up.nick_name as nickName,
        up.avatar,
        u.created_at as createdAt,
        u.updated_at as updatedAt
        from users u
        left join user_profile up on u.u_uid = up.u_uid
        where u.u_uid in
        <foreach collection="uids" item="uid" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </select>

    <update id="updateUser" parameterType="users.pojo.entity.Users">
        UPDATE users
        <set>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="role != null and role != ''">
                role = #{role},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            updated_at = NOW()
        </set>
        WHERE u_uid = #{uUid} AND deleted = 0
    </update>
</mapper>